@model EmplyeMgm.Models.Employee

@{
    ViewData["Title"] = "Index";
}

<h1>@Html.DisplayFor(modelItem => Model.FirstName) Details</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Emial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>@Html.DisplayNameFor(model => model.IsAdmin)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Emial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.City)
            </td>
            <td>@Html.DisplayFor(modelItem => Model.IsAdmin)</td>
            <td>
                <a asp-asp-controller="Employees" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a asp-asp-controller="Employees" asp-action="ChangePassword" >Change Password</a>

            </td>
        </tr>
    </tbody>
</table>